@import url('https://fonts.googleapis.com/css?family=Cairo:300,400,500,700');
/* Start Main Rulez */
html
{
    scroll-behavior: smooth;
}

body {
	background-color:white;
	font-family: 'Cairo', sans-serif !important;
	font-size: 30px;
	color: #fff;
}

/* End Main Rulez */

/* Start Navbar */


.navbar-shadow {
	background-color: rgba(0, 123, 255, 0.5);
	box-shadow: 0px 0px 4px 1px #000;
	transition: .5s
}

.navbar-light .navbar-toggler,
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: var(--white) !important;
    transition: .6s !important;
}

.navbar-light .navbar-toggler:hover,
.scroll-to-top a:hover,
.navbar-light .navbar-brand:focus, 
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
	color: var(--red) !important;
}


.navbar-light .navbar-toggler {
	border-color : var(--white) !important;
}


/* Start Bootstrap Edits */

.navbar {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.header{
	background-image: url("../images/unnamed.jpg");
	background-repeat: no-repeat;
	height: 500px;
    background-size: cover;
    background-position: center;
}

.header__h1{
	position: absolute;
    top: 317px;
    left: 677px;
    transform: rotate(-1deg);
    font-size: 55px;
}

.img-fluid {
    max-width: 45%;
    height: auto;
}

.nav-link {
	font-size: 25px !important;
}

/* Start Bootstrap Edits */

/* Start Index Page */

/* Start Upper Bar */

.text-co{
	margin-bottom: 20px;
}

.upper-bar .info{
	margin: 10px 0;
	
}

.home-nombre{
	
	border: 1px solid #000;
}
.home-nombres .nombres {
	display: inline-block;
    padding: 10px 5px;
    margin-left: 40px;
	border-radius: 5px;
	margin-top:5px;
}
.home-nombres .nombres span {
    display: block;
	font-size: 15px;
	margin-top:5px;
}
.home-nombres .nombres i{
	background-color: #EEE;
	border: 1px solid #ccc;
	padding: 15px 50px;
	border-radius: 5px;
}

/* End Upper bar */

/* Start Analytic Content */
.banner{
    background: rgba(5, 111, 197, 0.219);
    color: #03157b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin: 1.5rem 0rem;
    padding: 10px 15px;
}

.page-content{
    text-align: right;
}
.icn{
font-size: 50px;
}
.news-content{
    text-align: right;
    margin: 1.5rem 0rem;
}

.news-content ul{
    display: block;
}

.news-content ul li{
    direction: none;
    list-style: none;
    text-decoration: none;
}

.card-header {
    text-align: -webkit-right;
}
/* End Analytic Content */

/* Start Body */

.corona iframe {
	
	width:  560px;
	height: 315px;
	
}

@media (max-width: 768px) {
	
	.corona iframe {
	
		width: 400px;
		height: 315px;
	
	}
} 

.home-stats .stat {
	BORDER: 1px solid #ccc;
	padding:10px;
	border-radius: 4px;
}

.home-stats .stat span {
    display: block;
}

.latest {
	margin-top: 30px;
	font-size: 30px;
}

.row {
	margin: 1px;
}

.col-md-6 {
	max-width: 49%;
	margin-right: 1px;
}

/* Start Map */

.map {
	
	margin-top: 20px;
	
}

.maplist a {
	
	text-decoration: none;
	transition: color 0.3s;
	
}

.maplist .grid-item {
	
	background-color: #2FA4E7;
	margin-top: 20px;
	width: 100%;
	height: 103px;
	font-size: 20px;
	padding-top: 16px;
	
}

.maplist .grid-item span {	
	
	display: block;
    width: 50%;
    margin: 0 auto;
    font-size: 17px;
}

@media (max-width: 768px) {
	
	.maplist {
			
		width: 100%;
		margin: 0px;
		
	}
} 

/* End Map */

/* Start graph  */ 

.graph {
	margin-top: 20px;
}
.chart {
    width: 100%;
    height: 450px;
	margin-top: 20px;
}

/* End graph */

/* End Body */

/* Start Footer */

.footer{
	padding: 10px;
	margin-top: 1.5rem;
	background-color: #EEE;
}
.footer ul{
    margin: 0;
	display: flex;
	justify-content: center;
}
.footer ul li{
    display: inline-block;
}

.footer ul li a{
    margin-left: 20px;
    display: inline-block;
    font-size: 18px;
	color: white;
}

/* End Footer */

/* End Index Page */

.logo{
	height: 46px;
	transform: translateY(5px);
}
.navbar-nav{
	margin-left: 250px;
	
}

.wtm {
	position: relative;
	color: #000;
}

.wtm::after {
    border-bottom-width: 2px;
    content: "";
    width: 50px;
    background-color: black;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
}
.nav-link{
	font-size: 20px;
	margin-right: 25px;
}

.corona iframe {
	width: 100%;
}

.list {
	color: black;
    list-style-type: none;
    display: flex;
	justify-content: center;
	margin-top: 10px;
}

.list__item{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	margin: 0 4px;
}

.active__item{
	background-color: #717171;
}

/*Start spinner Loading */
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin:400px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.loading{
	background-color: #007bff;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
}
/*End Spinner Loading */

#tips .container-fluid, #tips .container-sm, #tips .container-md, #tips .container-lg, #tips .container-xl {
	max-width: 1920px;
}
#tips .container-fluid .portfolio-box, #tips .container-sm .portfolio-box, #tips .container-md .portfolio-box, #tips .container-lg .portfolio-box, #tips .container-xl .portfolio-box {
	position: relative;
	display: block;
	border-color: #f2f2f2;
	border-width: 3px;
	border-style: solid;
}
#tips .container-fluid .portfolio-box .portfolio-box-caption, #tips .container-sm .portfolio-box .portfolio-box-caption, #tips .container-md .portfolio-box .portfolio-box-caption, #tips .container-lg .portfolio-box .portfolio-box-caption, #tips .container-xl .portfolio-box .portfolio-box-caption {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	opacity: 0;
	color: #fff;
	background:  rgba(103, 133, 136, 0.9);
	transition: opacity 0.25s ease;
	text-align: center;
}
#tips .container-fluid .portfolio-box .portfolio-box-caption .project-category, #tips .container-sm .portfolio-box .portfolio-box-caption .project-category, #tips .container-md .portfolio-box .portfolio-box-caption .project-category, #tips .container-lg .portfolio-box .portfolio-box-caption .project-category, #tips .container-xl .portfolio-box .portfolio-box-caption .project-category {
	font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 0.85rem;
	font-weight: 600;
	text-transform: uppercase;
}
#tips .container-fluid .portfolio-box .portfolio-box-caption .project-name, #tips .container-sm .portfolio-box .portfolio-box-caption .project-name, #tips .container-md .portfolio-box .portfolio-box-caption .project-name, #tips .container-lg .portfolio-box .portfolio-box-caption .project-name, #tips .container-xl .portfolio-box .portfolio-box-caption .project-name {
	font-size: 1.2rem;
}
#tips .container-fluid .portfolio-box:hover .portfolio-box-caption, #tips .container-sm .portfolio-box:hover .portfolio-box-caption, #tips .container-md .portfolio-box:hover .portfolio-box-caption, #tips .container-lg .portfolio-box:hover .portfolio-box-caption, #tips .container-xl .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

#tips img{
	width: 100%;
	height: 250px;
}

#tips{
	margin-top: 60px;
    margin-bottom: 60px;
}	

/* Start Scroll To Top */

.scroll-to-top {
	display: none;
	padding: 0;
	vertical-align: top;
	width: 45px;
	height: 45px;
	position: fixed;
	right: 15px;
	bottom: 25px;
	display: none;
	z-index: 9999;
}

.scroll-to-top a {
	color: var(--blue);
	transition: .6s;
}

/* End Scroll To Top */