@import url('https://fonts.googleapis.com/css?family=Cairo:300,400,500,700');
/* Start Main Rulez */
html
{
    scroll-behavior: smooth;
}

body {
	background-color:white;
	font-family: 'Cairo', sans-serif !important;
	font-size: 30px;
	color: #fff;
}

/* End Main Rulez */

/* Start Bootstrap Edits */

.navbar {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.header{
	background-image: url("../images/unnamed.jpg");
	background-repeat: no-repeat;
	height: 500px;
    background-size: cover;
    background-position: center;
}

.header__h1{
	position: absolute;
    top: 317px;
    left: 677px;
    transform: rotate(-1deg);
    font-size: 55px;
}

.img-fluid {
    max-width: 45%;
    height: auto;
}
/* .panel-heading {
	
	background-color: #2FA4E7 !important;
	color: #fff !important;
	border-color: #ddd;
	 */
}
.nav-link {
	font-size: 25px !important;
}

/* Start Bootstrap Edits */

/* Start Index Page */

/* Start Upper Bar */

.text-co{
	margin-bottom: 20px;
}

.upper-bar .info{
	margin: 10px 0;
	
}

.home-nombre{
	
	border: 1px solid #000;
}
.home-nombres .nombres {
	display: inline-block;
    padding: 10px 5px;
    margin-left: 40px;
	border-radius: 5px;
	margin-top:5px;
}
.home-nombres .nombres span {
    display: block;
	font-size: 15px;
	margin-top:5px;
}
.home-nombres .nombres i{
	background-color: #EEE;
	border: 1px solid #ccc;
	padding: 15px 50px;
	border-radius: 5px;
}

/* End Upper bar */

/* Start Analytic Content */
.banner{
    background: rgba(5, 111, 197, 0.219);
    color: #03157b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin: 1.5rem 0rem;
    padding: 10px 15px;
}

.page-content{
    text-align: right;
}
.icn{
font-size: 50px;
}
.news-content{
    text-align: right;
    margin: 1.5rem 0rem;
}

.news-content ul{
    display: block;
}

.news-content ul li{
    direction: none;
    list-style: none;
    text-decoration: none;
}

.card-header {
    text-align: -webkit-right;
}
/* End Analytic Content */

/* Start Body */

.corona iframe {
	
	width:  560px;
	height: 315px;
	
}

@media (max-width: 768px) {
	
	.corona iframe {
	
		width: 400px;
		height: 315px;
	
	}
} 

.home-stats .stat {
	BORDER: 1px solid #ccc;
	padding:10px;
	border-radius: 4px;
}

.home-stats .stat span {
    display: block;
}

.latest {
	margin-top: 30px;
	font-size: 30px;
}

.row {
	margin: 1px;
}

.col-md-6 {
	max-width: 49%;
	margin-right: 1px;
}

/* Start Map */

.map {
	
	margin-top: 30px;
	
}
.mapdiv {
	
	width: 50%;
	margin: auto;
	padding: 50px;
	float: right;
}


.mapdiv svg {
	
	width: 600px;	
}

.mapdiv path {
	
	fill: #2FA4E7;
	stroke: #dece0c;
	stroke-width: 4px;
	transition: fill 0.3s;
	
}

/* .maplist {
	
	float: left;
	width: 50%;
	margin-top: 100px;
	border: 1px solid #000;
	padding: 30px;
	
} */

.maplist a {
	
	text-decoration: none;
	trasnition: color 0.3s;
	
}


.maplist .grid-item {
	
	background-color: #2FA4E7;
	margin: 20px;
	width: 100%;
	height: 103px;
	font-size: 20px;
	padding-top: 16px;
	
}

.maplist .grid-item span {	
	
	display: block;
    background-color: #dece0c;
    width: 50%;
    margin: 0 auto;
    font-size: 17px;
}

@media (max-width: 768px) {
	
	.mapdiv {
		
		width: 100%;
	}
	.maplist {
			
		width: 100%;
		margin: 0px;
		
	}
} 

/* End Map */

/* End Body


/* start form  */


#form-p
{
	text-align: center;
	color: #2FA4E7;
	line-height: 50px;   /* within paragraph */

}
#form-group
{
	width: 500PX;
	height: 800px;
	padding-top: 20px;

}

.email
{
	font-size: 17px;
	height: 50px;
	width: 400px;
	padding-left: 20px; 
	margin-top: 0px;
	
						   
}

.submit 
{
	height: 50px;
	width: 400px;
	background-color: #2FA4E7;
	font-size: 20px;
	color: white;
	margin-bottom: 60px;
}

.submit:hover
{
	background-color: #fff;
	color: #2FA4E7;
	
}

/* end form  */

/* Start Footer */

.footer{
	padding: 10px;
	margin-top: 1.5rem;
	background-color: #EEE;
}
.footer ul{
    margin: 0;
	float: left;
}
.footer ul li{
    display: inline-block;
}

.footer ul li a{
    margin-left: 20px;
    display: inline-block;
    font-size: 18px;
	color: white;
}

/* End Footer */

/* End Index Page */

.logo{
	height: 46px;
	transform: translateY(5px);
}
.navbar-nav{
	margin-left: 250px;
	
}

.wtm {
	position: relative;
	color: #000;
}

.wtm::after {
    border-bottom-width: 2px;
    content: "";
    width: 50px;
    background-color: black;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
}
.nav-link{
	font-size: 20px;
	margin-right: 25px;
}

.corona iframe {
	width: 100%;
}

.list {
	color: black;
    list-style-type: none;
    display: flex;
	justify-content: center;
	margin-top: 10px;
}

.list__item{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	margin: 0 4px;
}

.active__item{
	background-color: #717171;
}

/*Start spinner Loading */
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin:400px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.loading{
	background-color: #007bff;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
}
/*End Spinner Loading */
