@import url('https://fonts.googleapis.com/css?family=Cairo:300,400,500,700');
/* Start Main Rulez */

body {
	background-color:white;
	font-size: 30px;
	color: #fff;
}

/* End Main Rulez */

/* Start Index Page */

/* Start Upper bar */


.upper-bar .info{
    margin: 10px 0;
}

.home-nombre{
	
	border: 1px solid #000;
}
.home-nombres .nombres {
	display: inline-block;
    padding: 10px 5px;
    margin-left: 40px;
	border-radius: 5px;
	margin-top:5px;
}
.home-nombres .nombres span {
    display: block;
	font-size: 15px;
	margin-top:5px;
}
.home-nombres .nombres i{
	background-color: #EEE;
	border: 1px solid #ccc;
	padding: 15px 50px;
	border-radius: 5px;
}

/* End Upper bar */

/* Start Body */

.home-stats .stat {
	background-color: #2FA4E7;
	BORDER: 1px solid #ccc;
	padding:20px;
	font-size: 30px;
	border-radius: 10px;
}

.home-stats .stat span {
    display: block;
}

.latest {
	margin-top: 30px;
	font-size: 30px;
}

.link {
	background: #0099cb;
}

.row {
	margin: 1px;
}

.col-md-6 {
	max-width: 49%;
	margin-right: 1px;
}

/* Start Map */

.map {
	
	margin-top: 30px;
	
}
.mapdiv {
	
	width: 55%;
	margin: auto;
	padding: 50px;
}

.mapdiv path {
	
	fill: #2FA4E7;
	stroke: #dece0c;
	stroke-width: 4px;
	transition: fill 0.3s;
	
}

.mapdiv :hover {
	
	fill: #000;
	
}

/* End Map */

/* End Body

/* Start Footer */

.footer{
    padding: 10px;
}
.footer ul{
    margin: 0;
}
.footer ul li{
    display: inline-block;
}

.footer ul li a{
    margin-left: 20px;
    display: inline-block;
    font-size: 18px;
}

/* End Footer */

/* End Index Page */

.logo{
	height: 46px;
}
.navbar-nav{
	margin-right: 0 !important;
}

.wtm {
	position: relative;
}

.wtm::after {
    border-bottom-width: 2px;
    content: "";
    width: 50px;
    background-color: black;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
}