@import url('https://fonts.googleapis.com/css?family=Cairo:300,400,500,700');
/* Start Main Rulez */

body {
	background-color:white;
	font-size: 30px;
	color: #fff;
}

/* End Main Rulez */

/* Start Bootstrap Edits */

.panel-default {
	border: black 1px solid !important;
}

.panel-heading {
	
	background-color: #2FA4E7 !important;
	color: #fff !important;
	border-color: #ddd;
	
}
.nav-link {
	font-size: 25px !important;
}

/* Start Bootstrap Edits */

/* Start Index Page */

/* Start Upper Bar */

.text-co{
	margin-bottom: 20px;
}
.wtm:hover,.text-co:hover{
	color: rgb(153, 0, 0);
	cursor: default;
}

.upper-bar .info{
	margin: 10px 0;
	
}

.home-nombre{
	
	border: 1px solid #000;
}
.home-nombres .nombres {
	display: inline-block;
    padding: 10px 5px;
    margin-left: 40px;
	border-radius: 5px;
	margin-top:5px;
}
.home-nombres .nombres span {
    display: block;
	font-size: 15px;
	margin-top:5px;
}
.home-nombres .nombres i{
	background-color: #EEE;
	border: 1px solid #ccc;
	padding: 15px 50px;
	border-radius: 5px;
}

/* End Upper bar */

/* Start Body */

.corona iframe {
	
	width:  560px;
	height: 315px;
	
}

@media (max-width: 768px) {
	
	.corona iframe {
	
		width: 400px;
		height: 315px;
	
	}
} 

.home-stats .stat {
	background-color: #2FA4E7;
	BORDER: 1px solid #ccc;
	padding:20px;
	font-size: 30px;
	border-radius: 10px;
}

.home-stats .stat span {
    display: block;
}

.latest {
	margin-top: 30px;
	font-size: 30px;
}

.link {
	background: #0099cb;
}

.row {
	margin: 1px;
}

.col-md-6 {
	max-width: 49%;
	margin-right: 1px;
}

/* Start Map */

.map {
	
	margin-top: 30px;
	
}
.mapdiv {
	
	width: 50%;
	margin: auto;
	padding: 50px;
	float: right;
}


.mapdiv svg {
	
	width: 600px;	
}

.mapdiv path {
	
	fill: #2FA4E7;
	stroke: #dece0c;
	stroke-width: 4px;
	transition: fill 0.3s;
	
}

.maplist {
	
	float: left;
	width: 50%;
	margin-top: 100px;
	border: 1px solid #000;
	padding: 30px;
	
}

.maplist a {
	
	text-decoration: none;
	trasnition: color 0.3s;
	
}


.mapdiv :hover {
	
	fill: #000;
	
}
.maplist .grid-item {
	
	background-color: #2FA4E7;
	margin: 20px;
	padding: 5px;
	width: 100%;
	
}

.maplist .grid-item span {	
	
	display: block;
	background-color: #dece0c;

}

@media (max-width: 768px) {
	
	.mapdiv {
		
		width: 100%;
	}
	.maplist {
			
		width: 100%;
		margin: 0px;
		
	}
} 

/* End Map */

/* End Body

/* Start Footer */

.footer{
    padding: 10px;
}
.footer ul{
    margin: 0;
	float: left;
}
.footer ul li{
    display: inline-block;
}

.footer ul li a{
    margin-left: 20px;
    display: inline-block;
    font-size: 18px;
	color: #fff;
}

/* End Footer */

/* End Index Page */

.logo{
	height: 46px;
	
}
.navbar-nav{
	margin-left: 250px;
	
}

.wtm {
	position: relative;
}

.wtm::after {
    border-bottom-width: 2px;
    content: "";
    width: 50px;
    background-color: black;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
}
.nav-link{
	font-size: 16px;
	margin-right: 25px;

}