@import url('https://fonts.googleapis.com/css?family=Cairo:300,400,500,700');
/* Start Main Rulez */

body {
	background-color:white;
	font-family: 'Cairo', sans-serif !important;
	font-size: 30px;
	color: #fff;
}

/* End Main Rulez */

/* Start Index Page */

/* Start Upper bar */
.text-co{
	margin-bottom: 20px;
}
.wtm:hover,.text-co:hover{
	color: rgb(153, 0, 0);
	cursor: default;
}

.upper-bar .info{
	margin: 10px 0;
	
}

.home-nombre{
	
	border: 1px solid #000;
}
.home-nombres .nombres {
	display: inline-block;
    padding: 10px 5px;
    margin-left: 40px;
	border-radius: 5px;
	margin-top:5px;
}
.home-nombres .nombres span {
    display: block;
	font-size: 15px;
	margin-top:5px;
}
.home-nombres .nombres i{
	background-color: #EEE;
	border: 1px solid #ccc;
	padding: 15px 50px;
	border-radius: 5px;
}

/* End Upper bar */

/* Start Analytic Content */
.banner{
    background: rgba(5, 111, 197, 0.219);
    color: #03157b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin: 1.5rem 0rem;
    padding: 10px 15px;
}

.page-content{
    text-align: right;
}
.icn{
font-size: 50px;
}
.news-content{
    text-align: right;
    margin: 1.5rem 0rem;
}

.news-content ul{
    display: block;
}

.news-content ul li{
    direction: none;
    list-style: none;
    text-decoration: none;
}

.card-header {
    text-align: -webkit-right;
}
/* End Analytic Content */

/* Start Body */

.home-stats .stat {
	BORDER: 1px solid #ccc;
	padding:10px;
	border-radius: 4px;
}

.home-stats .stat span {
    display: block;
}

.latest {
	margin-top: 30px;
	font-size: 30px;
}

.link {
	background: #0099cb;
}

.row {
	margin: 1px;
}

.col-md-6 {
	max-width: 49%;
	margin-right: 1px;
}

/* Start Map */

.map {
	
	margin-top: 30px;
	
}
.mapdiv {
	
	width: 55%;
	margin: auto;
	padding: 50px;
}

.mapdiv path {
	
	fill: #2FA4E7;
	stroke: #dece0c;
	stroke-width: 4px;
	transition: fill 0.3s;
	
}

.mapdiv :hover {
	
	fill: #000;
	
}

/* End Map */

/* End Body

/* Start Footer */

.footer{
	padding: 10px;
	margin-top: 1.5rem;
	background-color: #EEE;
}
.footer ul{
    margin: 0;
}
.footer ul li{
    display: inline-block;
}

.footer ul li a{
    margin-left: 20px;
    display: inline-block;
    font-size: 18px;
}

/* End Footer */

/* End Index Page */

.logo{
	height: 46px;
	
}
.navbar-nav{
	margin-left: 250px;
	
}

.wtm {
	position: relative;
}

.wtm::after {
    border-bottom-width: 2px;
    content: "";
    width: 50px;
    background-color: black;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
}
.nav-link{
	font-size: 16px;
	margin-right: 25px;

}